.mobile-wrapper{
  width:100%;

}

.mobile-header{
  width:100%;

  margin-top: 0.5rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.mobile-header .display-name{
  text-transform: uppercase;
  margin-left:1rem;
  font-weight: 500;
  font-size: 1rem;
}

.mobile-header .logout{
  text-transform: uppercase;
  margin-right:1rem;

  color: #F46;
  cursor:pointer;
}

.response-time-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
  
}

.response-time{
  font-size: 2rem;
  font-weight: 600;

  margin-left:1rem;
  padding: 0.7rem 1.6rem;
  
  border-radius: 50%;
  border:1px solid #333;

  background-color: #03994c;
  color:#FFF;
}

.ans-count{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  font-size: 1.5rem;
}


.question{
  text-align: left;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1rem;
}

.answer-section{
  margin:2rem 1rem;
}

.ans-list{
  list-style-type: none;
  margin:0;
  padding:0;
  width: 100%;
}

.ans-item{
  padding:8px 16px;
  margin:0.7rem 0;

  color:#FFF;

  position: relative;

  border:1px solid #f1f1f1;
  border-radius: 4px;

  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;

  box-shadow: 0 1px 1px 1px #aaa;

  transition: all 0.5s;
}

.ans-item:hover{
  background-color: #f1f1f1;
}

.ans-item > .overlay{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  
  background-color: rgba(0,0,0,0.7);

  z-index: 5;

  cursor: not-allowed;

  transition: all 0.5s;
}

.message{
  width: 100%;

  text-align: center;

  font-size: 1.2rem;
}

